<!DOCTYPE html>
<html>
    <head>
        <title>Question Answering</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='qa_styles.css') }}"/>
    </head>
    <body>
        <h1>Ask a Question</h1>
        <form action="/question-answering" method="POST">
            <label for="question">Question:</label>
            <input type="text" name="question" id="question" required>
            <input type="text" name="context" id="context" required>
            <button type="submit">Submit</button>
        </form>
        <h2>Answer:</h2>
        <p id="answer">{{ answer }}</p>
        <p><a href="http://127.0.0.3:8080/feedback" target="_blank">Not quite right? Click here to give us feedback.</a></p>
        <script src="{{ url_for('static', filename='qa_script.js') }}"></script>
    </body>
</html>